$paper-swiper-navigation-buttons-distance: 48px !default;
$paper-swiper-callout-size: 100px !default;
$paper-swiper-text-padding-sides: 16px !default;
$paper-swiper-pagination-bullet-color: #000 !default;
$paper-swiper-pagination-bullet-color-active: #007aff !default;
$paper-swiper-slide-background: #fff !default;
$paper-swiper-container-background: #ccc !default;
$paper-swiper-dialog-height: 80% !default;

md-dialog.paper-swiper-dialog {
  max-width: 50%;
  height: $paper-swiper-dialog-height;
}

.paper-swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition-property: transform;
  overflow: hidden;
  background-color: $paper-swiper-container-background;

  .paper-swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
  }

  .paper-swiper-previous-button {
    margin-right: $paper-swiper-navigation-buttons-distance;
  }

  .paper-swiper-next-button {
    margin-left: $paper-swiper-navigation-buttons-distance;
  }

  .paper-swiper-fixed-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $paper-swiper-callout-size;
    box-sizing: border-box;
  }

  .paper-swiper-callout {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 81;
  }

  .paper-swiper-slide {
    @extend .layout-column;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $paper-swiper-slide-background;

    .paper-swiper-slide-media {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      flex: 1;
    }

    .paper-swiper-text {
      @extend .layout-column;
      @extend .layout-align-center-center;

      .paper-swiper-headline {
        text-align: center;
        margin-top: 15px;
        padding: 0 $paper-swiper-text-padding-sides;
      }

      .paper-swiper-subhead {
        text-align: center;
        padding: 0 $paper-swiper-text-padding-sides;
      }

      .paper-swiper-fixed-content-placeholder {
        flex: 0 0 $paper-swiper-callout-size;
      }
    }
  }

  .paper-swiper-pagination {
    width: 100%;
    text-align: center;

    .paper-swiper-pagination-bullet {
      margin: 0 5px;
      cursor: pointer;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: $paper-swiper-pagination-bullet-color;
      opacity: .2;
      display: inline-block;

      &.active {
        opacity: 1;
        background: $paper-swiper-pagination-bullet-color-active;
      }
    }
  }
}

/*
 * Read: when the aspect ration is square or landscape AND
 * width is at least 959px (the same breakpoint as fullscren dialogs use)
 */
@media screen and (min-aspect-ratio: 1/1) and (max-width: 959px) {
  .paper-swiper-container {
    .paper-swiper-slide {
      flex-direction: row;

      .paper-swiper-slide-media {
        flex: 1;
      }

      .paper-swiper-text {
        flex: 1 1;
      }
    }

    .paper-swiper-fixed-content {
      width: 50%;
      right: 0;
      bottom: initial;
      top: 50%;
    }
  }
}
