<div class="paper-swiper-wrapper" style={{containerOffset}}>
  {{yield (hash
    slide=(component "paper-swiper/slide"
      containerWidth=containerWidth
      parentComponent=swiper)
    callout=(component "paper-swiper/callout" calloutId=calloutId)
    currentSlide=currentSlide
  )}}
</div>