{{#paper-button raised=true onClick=(action (mut shouldShowSwiper) true)}}
  Open swiper
{{/paper-button}}

{{#if shouldShowSwiper}}
  {{#paper-swiper as |swiper|}}

    {{#swiper.callout}}
      {{#paper-button raised=true onClick=(action (mut shouldShowSwiper) false)}}
        Get Started
      {{/paper-button}}
    {{/swiper.callout}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://d13yacurqjgara.cloudfront.net/users/179241/screenshots/2835402/attachments/582801/chris-fernandez-a-proper-bear-3.png"}}
      {{#slide.headline}}
        Your lab, everywhere
      {{/slide.headline}}
      {{#slide.subhead}}
        Use everyday objects<br>
        in your experiments.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="elephant-slide" as |slide|}}
      {{slide.media src="https://d13yacurqjgara.cloudfront.net/users/179241/screenshots/2633954/chris-fernandez-elephant-2.jpg"}}
      {{#slide.headline}}
        A better way to schedule
      {{/slide.headline}}
      {{#slide.subhead}}
        Calendar sync lets your clients know when
        you're available.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="bear-slide" as |slide|}}
      {{slide.media src="https://d13yacurqjgara.cloudfront.net/users/179241/screenshots/2835402/attachments/582801/chris-fernandez-a-proper-bear-3.png"}}
      {{#slide.headline}}
        Stay on top of things
      {{/slide.headline}}
      {{#slide.subhead}}
        Your dashboard let's you know what's
        happening and what to do next.
      {{/slide.subhead}}
    {{/swiper.slide}}

    {{#swiper.slide class="elephant-slide" as |slide|}}
      {{slide.media src="https://d13yacurqjgara.cloudfront.net/users/179241/screenshots/2633954/chris-fernandez-elephant-2.jpg"}}
      {{#slide.headline}}
        A better way to schedule
      {{/slide.headline}}
      {{#slide.subhead}}
        Calendar sync lets your clients know when
        you're available.
      {{/slide.subhead}}
    {{/swiper.slide}}

  {{/paper-swiper}}

{{/if}}

{{#paper-button raised=true onClick=(action (mut shouldShowInlineSwiper) true)}}
  Open inline swiper
{{/paper-button}}

{{#if shouldShowInlineSwiper}}
  {{#paper-swiper-inline as |swiper|}}

    {{#swiper.callout}}
      {{#paper-button raised=true onClick=(action (mut shouldShowSwiper) false)}}
        Get Started
      {{/paper-button}}
    {{/swiper.callout}}

    {{#swiper.slide class="md-padding bear-slide" as |slide|}}
      <h1>Slide 1</h1>
      <p>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
      </p>
    {{/swiper.slide}}

    {{#swiper.slide class="md-padding elephant-slide" as |slide|}}
      <h1>Slide 2</h1>
      <p>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
      </p>
    {{/swiper.slide}}

    {{#swiper.slide class="md-padding bear-slide" as |slide|}}
      <h1>Slide 3</h1>
      <p>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
      </p>
    {{/swiper.slide}}

    {{#swiper.slide class="md-padding elephant-slide" as |slide|}}
      <h1>Slide 4</h1>
      <p>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
      </p>
    {{/swiper.slide}}

  {{/paper-swiper-inline}}
{{/if}}
